.container {
  display: flex;
  flex-direction: column;
}

#sortingAlgorithmsChart {
    width: 100%;
    max-width: 1300px;
    pointer-events: none;
  }

.heading {
  color: rgb(235, 235, 5);
  background-color: green;
  margin: 0;
  padding: 0;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: aquamarine;
}

.navbar li {
  float: left;
  margin: 5px;
}

.navbar button {
  background-color: rgb(219, 189, 235);
  color: black;
  font-size: larger;
  border: 1px solid salmon;
  border-radius: 10px;
  padding: 5px;
}

.navbar button:hover {
  background-color: rgb(132, 45, 213);
  cursor: pointer;
}